<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
</head>
<body>
    <section class="container">
		<h1 class="swift-up-text">Unlocking security and safeguarding your digital identity with confidence.</h1>
		<h4 class="swift-up-text">Verify your email with the OTP sent, ensuring secure access with your entry.</h4>
        <div class="center">
            <form action="" class="mt-5">
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(1)' maxlength=1 >
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(2)' maxlength=1 >
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(3)' maxlength=1 >
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(4)' maxlength=1 >
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(5)' maxlength=1 >
                <input class="otp" type="text" oninput='digitValidate(this)' onkeyup='tabChange(6)' maxlength=1 >
            </form>
        </div>
        <div class="row"><button type="submit" class="proceed" >verify</button> </div>
	</section>
    <script>
        let swiftUpElements = document.querySelectorAll('.swift-up-text');
        swiftUpElements.forEach(elem => {

            const words = elem.textContent.split(' ');
            elem.innerHTML = '';

            words.forEach((el, index) => {
                words[index] = `<span><i>${words[index]}</i></span>`;
            });

            elem.innerHTML = words.join(' ');

            const children = document.querySelectorAll('span > i');
            children.forEach((node, index) => {
                node.style.animationDelay = `${index * .2}s`;
            });

        });
        let digitValidate = function(ele){
        console.log(ele.value);
        ele.value = ele.value.replace(/[^0-9]/g,'');
        }

        let tabChange = function(val){
            let ele = document.querySelectorAll('input');
            if(ele[val-1].value != ''){
            ele[val].focus()
            }else if(ele[val-1].value == ''){
            ele[val-2].focus()
            }   
        }
    </script>
</body>
</html>